.modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
    
        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%; /* Could be more or less, depending on screen size */                          
        }
        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .pic{
        	position: relative;
        	width: 90%;
        }
        .image{
            display: block;
  			width: 100%;
  			height: auto;
        }
        .mouse_Enter{
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  height: 100%;
		  width: 100%;
		  opacity: 0;
		  transition: .5s ease;
		  background-color: #008CBA;
        }
        .pic:hover .mouse_Enter {
  		opacity: 0.8;
		}
		.mouse_Enter_contents{
			  color: white;
			  font-size: 10px;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  -webkit-transform: translate(-50%, -50%);
			  -ms-transform: translate(-50%, -50%);
			  transform: translate(-50%, -50%);
			  text-align: center;
		}

#searchingResult_div{
	margin-left: 30%;
	margin-right: auto;
}
#sel_searchingBook{
	width:300px;
	height:50px;
	display: inline;
	font-size: 16pt;
}
#sortingBook_submit{
	margin-left:auto;
	width:300px;
	height: 43px;
}
.booksTable{
	margin-left: auto;
	margin-right: auto;
	
}
.mouse_Enter_contents{
	text-align: left;
}
