	.err{
		font-size: 9pt;
		color: red;
		font-weight: bold;
	}
	
	/* 중복체크 버튼 css */	
	
	#add{
  width:330px;
  background:#368AFF;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
#add:hover{
  background:#fff;
  color:#368AFF;
}
#add:before,#add:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #368AFF;
  transition:400ms ease all;
}
#add:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#add:hover:before,#add:hover:after{
  width:100%;
  transition:800ms ease all;
}

/* 가입하기 버튼 css */

#id_check{
  width:330px;
  background:#368AFF;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
#id_check:hover{
  background:#fff;
  color:#368AFF;
}
#id_check:before,#id_check:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #368AFF;
  transition:400ms ease all;
}
#id_check:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#id_check:hover:before,#id_check:hover:after{
  width:100%;
  transition:800ms ease all;
}


/* --------------------------------- */

/* radio, checkbox css */

div.btn span {
  font-size: 1.3em ;
}

div input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
div input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
div input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
div input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #7AA3CC;    display: inline;
}
div:hover input[type="radio"] ~ i.fa {
color: #7AA3CC;
}

div input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
div input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
div input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
div input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}
div:hover input[type="checkbox"] ~ i.fa {
color: #7AA3CC;
}

div[data-toggle="buttons"] div.active{
    color: #7AA3CC;
}

div[data-toggle="buttons"] div {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;  
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid 
#c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] div:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] div:active, div[data-toggle="buttons"] div.active {
-webkit-box-shadow: none;
box-shadow: none;
}

/* placeholder css */

input:-ms-input-placeholder {
  color: #BDBDBD;
  font-style: Serif;
}


/* -------------------------------- */

/* input text css */

 * { box-sizing:border-box; }

body {
	font-family: Helvetica;
	background: #eee;
  -webkit-font-smoothing: antialiased;
}

hgroup { 
	text-align:center;
	margin-top: 4em;
}

h1, h3 { font-weight: 300; }

h1 { color: #636363; }

h3 { color: #4a89dc; }

form {
	width: 450px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

  input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #EAEAEA;
} 

input:focus { outline: none; }  


/* Label */

  label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}  


/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
  transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

footer { text-align: center; }

footer p {
	color: #888;
	font-size: 13px;
	letter-spacing: .4px;
}

footer a {  
	color: #4a89dc;
	text-decoration: none;
	transition: all .2s ease;
}

footer a:hover {
	color: #666;
	text-decoration: underline;
}

footer img {
	width: 80px;
	transition: all .2s ease;
}

footer img:hover { opacity: .83; }

footer img:focus , footer a:focus { outline: none; }


/* ------------------------------------ */


/* select box css */
  
div#select_box {
    position: relative;
    width: 130px;
    height: 40px;
    background: url("${pageContext.request.contextPath}/resources/Img/login/arrow.png") 180px center no-repeat; /* 화살표 이미지 */
   /*  border: 1px solid #368AFF; */
}
div#select_box label {
    position: absolute;
    font-size: 14px;
    color: #a97228;
    top: 13px;
    left: 12px;
    letter-spacing: 1px;
}
div#select_box select#select {
    width: 100%;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    padding: 0 10px;
    opacity: 0;
    filter: alpha(opacity=0); /* IE 8 */
}  

/* select box arrow css */

.select-arrow-image {
    width: 200px;
    border: none;
    box-shadow: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 1.2em;
    background-color: transparent;
    background-image: url("${pageContext.request.contextPath}/resources/Img/login/arrow.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 15px 10px;
    /* <img src="${pageContext.request.contextPath}/resources/Img/login/arrow.png">  */
}
.whysels{
	display: inline-block;
    width: 100px;
}
